project_id = "rsofzhyydgdsamkdkmvx"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
port = 54323
ip_version = "ipv4"

[studio]
enabled = true
port = 54324
api_url = "http://127.0.0.1:54321"
openai_api_key = ""

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327

[storage]
enabled = true
port = 54328
image_transformation = { enabled = true }

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://8cedc32f-e657-4c36-a7b8-7149e5d1beac.lovableproject.com"]
jwt_expiry = 3600
enable_signup = true
enable_email_confirmations = false
enable_manual_linking = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
template = { invite = "", confirmation = "", recovery = "", magic_link = "", email_change = "" }

[auth.sms]
enable_signup = false
enable_confirmations = false
template = "Your code is {{ .Code }}"

[functions.send-investment-notification]
verify_jwt = false

[functions.send-admin-notification-email]
verify_jwt = false

[functions.send-investment-request-notification]
verify_jwt = false

[functions.cecil-integration]
verify_jwt = false

[functions.cecil-data-sync]
verify_jwt = false

[functions.cecil-weather-update]
verify_jwt = false

[edge-runtime]
inspector_port = 8083